$colors: (
    color-principal: #a77df9,
    color-secundario: #dbd2c1,
    foot-head: #7f7f7f,

);


$fonts: (
    titulo-principal-f: 'Irish Grover',
    subtitulo-nav-f: 'Griffy',
    footbar-f: 'Knewave',
    body-f: 'Albert Sans',
)