body {
  font-family: map-get($fonts ,body-f );
  background-image: url(../assets/general-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed
}