header {
    background-color: map-get($colors , foot-head);
    padding: 2vw;

    @include phone {
        padding: 1rem;
    }

    .logo-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include tablet {
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            order: 0;
            width: 100%;
        }

        .buscar {
            display: flex;
            align-items: flex-start;
            gap: .625rem;

            @include tablet {
                width: 100%;
                justify-content: center;
                gap: 1rem;
                order: 2;
            }

            @include phone {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 0.5rem;
                order: 1;
            }


            .searchbar {
                flex-grow: 1;
                padding-left: .625rem;
                height: 1.5625rem;
                width: 80%;
                max-width: 350px;
                min-width: 150px;
                border: none;
                border-radius: .625rem;
                font-size: .875rem;
                background-color: white;
                outline: none;


                @include phone {
                    width: 100%;
                }
            }


            .boton-buscar {
                padding: .375rem .625rem;
                background-color: map-get($colors , color-secundario);
                color: black;
                border: none;
                border-radius: .375rem;
                cursor: pointer;
                white-space: nowrap;


                &:hover {
                    background-color: map-get($colors , color-principal);
                    transition: color 0.5s, transform 0.5s;
                    transform: scale(1.05);
                }
            }
        }

        .titulo-principal {
            gap: 1.5625rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            @include tablet {
                justify-content: center;
                text-align: center;
                flex-direction: row;
                align-items: center;
                order: 1;
            }

            @include phone {
                flex-direction: row;
                justify-content: center;
            }


            a {
                font-family: map-get($fonts , titulo-principal-f);
                font-size: clamp(2rem, 5vw, 4rem);
                color: map-get($colors , color-secundario);
                text-decoration: none;


                &:hover {
                    color: map-get($colors , color-principal);
                    transition: color 0.5s, transform 0.5s;
                    transform: scale(1.05);
                }

                @include phone {
                    font-size: clamp(2.5rem, 5vw, 4.5rem);
                }

                img {
                    @include phone {
                        margin-top: -3rem;
                    }
                }
            }
        }

        .carrito {
            display: flex;
            width: 5vw;
            height: auto;
            justify-content: flex-end;
            align-self: flex-end;

            @include tablet {
                width: 10vw;
                align-self: flex-end;
                order: 2;
            }

            @include phone {
                display: flex;
                justify-content: flex-end;
                align-self: flex-end;
                width: 10vw;
                order: 1;
            }

            &:hover {
                transition: transform 0.5s;
                transform: scale(1.05);
            }

            img a {
                @include phone {
                    max-width: 2rem;
                }
            }
        }
    }
}