.subtitulo-principal {
  font-family: map-get($fonts , subtitulo-nav-f);
  text-align: center;
  font-size: clamp(2rem, 6vw, 5rem);
  margin-top: 2.5rem;

  @include phone {
    font-size: clamp(1.5rem, 6vw, 2rem);
  }
}